extends layout

block content
  h1= title
  p Welcome to #{title}
  //#{svg}
  #workspace

  script(src="javascripts/patternite.js")
  script(type='text/javascript').
    $('#workspace').ready(function(){patternite.workspace_init('workspace')});

    console.log(patternite.Pattern.prototype.constructor);
    console.log(!{pattern});
    console.log(JSON.parse('!{pattern}'));